@using BurnInControl.Data.ComponentConfiguration.HeaterController
@using System.Globalization

@*<RadzenFieldset Text="@this.Label" Style="border: 5px solid #3a6d7c">*@
@if (this.HeaterConfig == null) {
    <p>Loading...</p>
} else {
    <RadzenTabsItem Text="@this.Label" @key="@this.Label">
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
            <RadzenText TextStyle="TextStyle.H4" Text="@this.Label"></RadzenText>
            <RadzenStack Orientation="Orientation.Horizontal"
                         AlignItems="AlignItems.Start"
                         JustifyContent="JustifyContent.SpaceEvenly">

                <NtcConfigView NtcConfig="@this.HeaterConfig.NtcConfig" NtcConfigChanged="@this.NtcConfigChanged"/>
                <PidConfigView PidConfig="@this.HeaterConfig.PidConfig" PidConfigChanged="@this.PidConfigChangedHandler"/>
            </RadzenStack>
        </RadzenStack>
    </RadzenTabsItem>
}

@*</RadzenFieldset>*@
@code{
    [Parameter]
    public string Label { get; set; }= "Heater Configuration";
    [Parameter]
    public HeaterConfiguration? HeaterConfig { get; set; }
    [Parameter]
    public EventCallback<HeaterConfiguration> HeaterConfigChanged { get; set; }

    private async Task NtcConfigChanged(NtcConfiguration config) {
        if (this.HeaterConfig != null) {
            this.HeaterConfig.NtcConfig = config;
            await this.HeaterConfigChanged.InvokeAsync(this.HeaterConfig);
        }
    }

    private async Task PidConfigChangedHandler(PidConfiguration config) {
        if (this.HeaterConfig != null) {
            this.HeaterConfig.PidConfig = config;
            await this.HeaterConfigChanged.InvokeAsync(this.HeaterConfig);
        }
    }
    
}